<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Fayette Young Professionals Network</h2>
 

<p>Our mission…is to enhance professional development opportunities for Fayette County young professionals through networking, volunteering, and creating positive change in our local communities.
 

Our goal…is to develop leadership, encourage civic engagement, stir innovation, and improve employee retention.
– Who are we looking for? The progressive thinking, highly motivated 21-40 year olds who work or live in Fayette County.

– We understand that your time is valuable. While we hope to see you at many FYPN events, we understand that everyone has additional commitments.

– Participate in the events you will most enjoy. We realize that Young Professionals have a broad range of interests. We do our best to plan a variety of activities to address those differing interests.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>